name: Test dispatch
on:
  repository_dispatch:
    types: [custom_event]

jobs:
  update:
    name: 'Update versions'
    runs-on: ubuntu-latest
    steps:
      - name: Store payload
        run: |
          echo '${{ toJson(github.event.client_payload) }}' | jq . > ./temp.json
          ls -la
          cat ./temp.json
